* {
  box-sizing: border-box;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

.display-1 {
  font-size: 200px;
  color: #f4f0e7;
  margin-top: -600px;
}

.h3 {
  color: #f4f0e7;
  line-height: 35px;
  margin-left: 770px;
}

.boton-descubrir {
  background-color: #282828;
  color: #f4f0e7;
  margin-left: 500px;
  margin-top: -60px;
}

.sobrenosotros {
  margin-top: 450px;
}

.subsobrenosotros {
  text-align: center;
  font-size: 20px;
}

.cuadrossobrenosotros {
  margin-top: 70px;
}

.tendecias {
  margin-top: 150px;
}

.producto {
  margin-top: 150px;
  display: flex;
  justify-content: center;
}

.colecciones {
  margin-top: 200px;
}

.card {
  background-color: #f2f1ee;
  border-color: white;
  border-radius: 20px;
}

.card-body {
  background-color: #f2f1ee;
  border-color: white;
  border-radius: 10px;
}
.producto {
  margin-top: 80px;
}
.productostitulo {
  margin-top: 150px;
}

.subproducto {
  text-align: center;
}
.botonproductos {
  margin-left: 700px;
  margin-top: 80px;
}
